<%-include("./partials/header")-%>

<div style="width: 50%; margin: 0 auto; ">
    <h1 style="color: lightsteelblue; text-align: center;">REGISTER HERE</h1>
<form action="/register" method="POST">
    <div class="form-group">
        <label for="username">Username </label>
        <input type="text" class="form-control" name="username" placeholder="username" id="username">
    </div>
    <div class="form-group">
        <label for="password">Password </label>
        <input type="password" class="form-control" placeholder="password" id="password" name="password">

    </div>
    <button class="btn btn-info btn-lg ">Register!</button>
</form>
</div>